# Dependency directories
node_modules/

# Stores VSCode versions used for testing VSCode extensions
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Optional eslint cache
.eslintcache